* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

/* clearfixを追加 */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header-container {
	width: 1024px;
	margin: 0 auto;
}

.header-container img {
	width: 150px;
	float: left;
}

.navigation ul {
	list-style: none;
	float: right;
}

.navigation li {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 22px;
	color: #fafafa;
	font-size: 16px;

}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: bottom;
	text-align: center;
}

.main-visual-text {
	padding-top: 200px;
	color: #fafafa;
}

.main-visual-text h1 {
	font-size: 64px;
	padding-bottom: 10px;
}

.main-visual-text p {
	font-size: 20px;
}

.portfolio {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #eceff1;
}

.portfolio-contents {
	width: 920px;
	margin: 0 auto;
}

.portfolio-texts {
	text-align: center;
}

.portfolio-texts h2 {
	
	font-size: 32px;
	font-weight: normal;
	/* h2タグは、標準で文字の上下に空白をもつため、取り消す。 */
	line-height: 32px;
	color: #000;
	padding-bottom: 0;
}

.portfolio-border {
	margin-top: 8px;
	display: inline-block;
	width: 70px;
	border-bottom: 3px solid #ec715f;
}

.portfolio-texts p {

	padding-top : 30px;
	padding-bottom: 30px;
}

.portfolio-image {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
}

.portfolio-image:nth-child(1) {
	background-image: url(img/sketch.jpg);
	margin-right: 10px;
	margin-bottom: 10px;
}

.portfolio-image:nth-child(2) {
	background-image: url(img/websuku.png);
	margin-right: 10px;
	margin-bottom: 10px;
}

.portfolio-image:nth-child(3) {
	background-image: url(img/write.jpg);
	margin-bottom: 10px;
}

.portfolio-image:nth-child(4) {
	background-image: url(img/webcamp.png);
	margin-right: 10px;
}

.portfolio-image:nth-child(5) {
	background-image: url(img/talk.jpg);
	margin-right: 10px;
}

.portfolio-image:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

.feature {
	padding-top: 90px;
	padding-bottom: 90px;
}

.feature-contents {
	width: 980px;
	margin: 0 auto;
}

.feature-main-texts {
	text-align: center;
}

.feature-main-texts h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	color: #000;
}

.feature-border {
	margin-top: 8px;
	display: inline-block;
	border-bottom: 3px solid #ec715f;
	width: 70px;
}

.feature-main-texts p {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #000;
}

.feature-sub-texts {
	width: 320px;
	float: left;
	text-align: center;
	
}

.submargin {
	margin-left: 10px;
	margin-right: 10px;
}

.fa-desktop,.fa-laptop,.fa-tablet-alt {
	font-size: 60px
}

.feature-sub-texts h3 {
	font-size: 20px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.feature-sub-texts p {
	text-align: left;
	font-size: 16px;
	color: #000;
}

.profile {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #eceff1;
}

.profile-contents {
	width: 1024px;
	margin: 0 auto ;
}

.profile-main-texts {
	text-align: center;
}

.profile-main-texts h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	color: #000;
}

.profile-border {
	margin-top: 8px;
	display: inline-block;
	border-bottom: 3px solid #ec715f;
	width: 70px;
}

.profile-main-texts p {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #000;
}

.profile-image-zone {
	padding-top: 30px;
	width: 512px;
	float: left;
}

.profile-image {
	width: 250px;
	height: 250px;
	background-image: url(img/my-icon.jpg);
	margin: 0 auto;
	border-radius: 125px;
}

.profile-sub-texts {
	width: 512px;
	float: left;
}

.profile-sub-text-name {
	padding-top: 30px;
}

.profile-sub-text-name h3 {
	padding-bottom: 5px;
	font-size: 20px;
}

.profile-sub-text-name p {
	font-size: 16px;
	color: #000;
}

.profile-sub-text-skills {
	padding-top: 20px;
}

.profile-sub-text-skills h3 {
	padding-bottom: 5px;
	font-size: 20px;
}

.profile-sub-text-skills p {
	font-size: 16px;
	color: #000;
}