* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

/* clearfixを追加 */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header-container {
	width: 1024px;
	margin: 0 auto;
}

.header-container img {
	width: 150px;
	float: left;
}

.navigation ul {
	list-style: none;
	float: right;
}

.navigation li {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 22px;
	color: #fafafa;
	font-size: 16px;

}

.hamburger-menu {
	display: none;
	border: 1px solid #fff;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	/*
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	*/
	height: 40px;
	width: 40px;

	float: right;
	position: relative;
}

.fa-bars {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #fff;
	font-size: 28px;
}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: bottom;
	text-align: center;
}

.main-visual-text {
	padding-top: 200px;
	color: #fafafa;
}

.main-visual-text h1 {
	font-size: 64px;
	padding-bottom: 10px;
}

.main-visual-text p {
	font-size: 20px;
}

.portfolio {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #eceff1;
}

.portfolio-contents {
	width: 920px;
	margin: 0 auto;
}

.portfolio-texts {
	text-align: center;
}

.portfolio-texts h2 {
	
	font-size: 32px;
	font-weight: normal;
	/* h2タグは、標準で文字の上下に空白をもつため、取り消す。 */
	line-height: 32px;
	color: #000;
	padding-bottom: 0;
}

.portfolio-border {
	margin-top: 8px;
	display: inline-block;
	width: 70px;
	border-bottom: 3px solid #ec715f;
}

.portfolio-texts p {

	padding-top : 30px;
	padding-bottom: 30px;
}

.portfolio-image {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
}

.portfolio-image:nth-child(1) {
	background-image: url(img/sketch.jpg);
	margin-right: 10px;
	margin-bottom: 10px;
}

.portfolio-image:nth-child(2) {
	background-image: url(img/websuku.png);
	margin-right: 10px;
	margin-bottom: 10px;
}

.portfolio-image:nth-child(3) {
	background-image: url(img/write.jpg);
	margin-bottom: 10px;
}

.portfolio-image:nth-child(4) {
	background-image: url(img/webcamp.png);
	margin-right: 10px;
}

.portfolio-image:nth-child(5) {
	background-image: url(img/talk.jpg);
	margin-right: 10px;
}

.portfolio-image:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

.feature {
	padding-top: 90px;
	padding-bottom: 90px;
}

.feature-contents {
	width: 980px;
	margin: 0 auto;
}

.feature-main-texts {
	text-align: center;
}

.feature-main-texts h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	color: #000;
}

.feature-border {
	margin-top: 8px;
	display: inline-block;
	border-bottom: 3px solid #ec715f;
	width: 70px;
}

.feature-main-texts p {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #000;
}

.feature-sub-texts {
	width: 320px;
	float: left;
	text-align: center;
	
}

.submargin {
	margin-left: 10px;
	margin-right: 10px;
}

.fa-desktop,.fa-laptop,.fa-tablet-alt {
	font-size: 60px
}

.feature-sub-texts h3 {
	font-size: 20px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.feature-sub-texts p {
	text-align: left;
	font-size: 16px;
	color: #000;
}

.profile {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #eceff1;
}

.profile-contents {
	width: 1024px;
	margin: 0 auto ;
}

.profile-main-texts {
	text-align: center;
}

.profile-main-texts h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	color: #000;
}

.profile-border {
	margin-top: 8px;
	display: inline-block;
	border-bottom: 3px solid #ec715f;
	width: 70px;
}

.profile-main-texts p {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #000;
}

.profile-image-zone {
	padding-top: 30px;
	width: 512px;
	float: left;
}

.profile-image {
	width: 250px;
	height: 250px;
	background-image: url(img/my-icon.jpg);
	margin: 0 auto;
	border-radius: 125px;
}

.profile-sub-texts {
	width: 512px;
	float: left;
}

.profile-sub-text-name {
	padding-top: 30px;
}

.profile-sub-text-name h3 {
	padding-bottom: 5px;
	font-size: 20px;
}

.profile-sub-text-name p {
	font-size: 16px;
	color: #000;
}

.profile-sub-text-skills {
	padding-top: 20px;
}

.profile-sub-text-skills h3 {
	padding-bottom: 5px;
	font-size: 20px;
}

.profile-sub-text-skills p {
	font-size: 16px;
	color: #000;
}

.contact {
	padding-top: 90px;
	padding-bottom: 90px;
}

.contact-contents {
	width: 800px;
	margin: 0 auto ;
}

.contact-main-texts {
	text-align: center;
}

.contact-main-texts h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	color: #000;
}

.contact-border {
	margin-top: 8px;
	display: inline-block;
	border-bottom: 3px solid #ec715f;
	width: 70px;
}

.contact-main-texts p {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	color: #000;
}

.contact-adress-texts {
	width: 400px;
	float: left;
	text-align: center;
}

.contact-adress-texts-content {
	display: inline-block;
	text-align: left;
}

.contact-adress-texts-content h3 {
	font-size: 20px;
	padding-bottom: 5px;
}

.adress-margin {
	padding-bottom: 20px;
}

.contact-sns-texts {
	width: 400px;
	float: left;
	text-align: center;
}

.contact-sns-texts-content {
	display: inline-block;
	text-align: left;
}

.contact-sns-texts-content h3 {
	font-size: 20px;
	padding-bottom: 5px;
}

.fa-facebook-f,.fa-twitter,.fa-instagram {
	font-size: 50px;
}

.fa-twitter {
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	height: 60px;
	background-color: #ec715f;
	text-align: center;
	font-size: 16px;
	line-height: 60px;
	color: #fafafa;
}

/* レスポンシブ対応 */
@media screen and (max-width:767px) {
	header{
		height: 50px;
		width: 100%;
	}

	.header-container {
		width: 90%;
	}

	.header-container img {
		width: 35%;
	}

	.navigation {
		display: none;
	}

	.hamburger-menu {
		display: inline-block;
	}

	.main-visual {
		width: 100%;
		height: 650px;
		background-image: url(img/code.png);
	}

	.main-visual-text {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 200px;
	}

	.main-visual-text h1 {
		font-size: 40px;
		color: #fafafa;
	}

	.main-visual-text p {
		font-size: 18px;
		color: #fafafa;
	}

	.portfolio {
		width: 100%;
	}

	.portfolio-contents {
		width: 90%;
	}

	.portfolio-image {
		float: none;
		/* レスポンシブ対応前の位置指定を無効化 */
		margin: 0;
	}

	.portfolio-image:nth-child(1){
		display: none;
	}

	.portfolio-image:nth-child(2){
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.portfolio-image:nth-child(3){
		display: none;
	}

	.portfolio-image:nth-child(4){
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.portfolio-image:nth-child(5){
		display: none;
	}

	.portfolio-image:nth-child(6){
		margin: 0 auto;
		
	}

	.feature {
		width: 100%;
	}

	.feature-contents {
		width: 90%;
	}

	.fa-facebook-f,.fa-twitter,.fa-instagram {
		font-size: 60px;
	}

	.feature-sub-texts {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.feature-sub-texts p {
		text-align: left;
	}

	.profile {
		width: 100%;
	}

	.profile-contents {
		width: 90%;
	}

	.profile-image-zone {
		width: 100%;
		float: none;
	}

	.profile-sub-texts {
		width: 100%;
		float: none;
		text-align: center;
	}

	.profile-sub-text-name {
		padding-top: 20px;
	}

	.contact {
		width: 100%;
	}

	.contact-contents {
		width: 90%;
	}

	.contact-adress-texts {
		width: 100%;
		float: none;
	}

	.contact-adress-texts-content {
		text-align: center;
	}

	.tell-margin {
		padding-bottom: 20px;
	}

	.contact-sns-texts {
		width: 100%;
		float: none;
	}

	.contact-sns-texts-content {
		text-align: center;
	}

	.fa-twitter {
		padding-left: 8px;
		padding-right: 8px;
	}

	footer {
		width: 100%;
	}

}