* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-img {
	width: 100%;
	height: 200px;
	background-image: url(img/box1.jpg);
	background-size: cover;
	background-position: center;
}

.second-img {
	width: 100%;
	height: 200px;
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;

}

.third-img {
	width: 100%;
	height: 200px;
	background-image: url(img/box3.jpg);
	background-size: cover;
	background-position: center;

}

.four-img {
	width: 100%;
	height: 200px;
	background-image: url(img/box4.jpg);
	background-size: cover;
	background-position: center;
}